@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

//font-family: "Playfair Display", serif;
@font-face {
    font-family: "pretendard";
    src: url(../font/PretendardJPVariable.ttf);
}

@font-face {
    font-family: "lora";
    src: url(../font/Lora-VariableFont_wght.ttf);
}