@import "./font";
@import "./keyframe";
@import "./cursor.scss";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     cursor: none;
// }
::-webkit-scrollbar {
    display: none;
}
body {
    background-color: $pf--color--lightwhite;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: none;
    .bgr {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.5);
        }
        &.active {
            display: none;
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.1;
        background-image: url(../img/overlay.gif);
    }
}

.container {
    background-color: #111111;
}
.intro__section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &.active {
        display: none;
    }
    .intro__section__hello-text {
        width: 100%;
        display: flex;
        // overflow: hidden;
        span {
            display: block;
            font-family: "Montserrat", sans-serif;
            font-size: 22rem;
            line-height: 30rem;
            font-weight: 700;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: $pf--color--darkgray;
            /* background */
            background-image: url(../img/wave.png);
            background-position: 100% 430px;
            background-repeat: no-repeat;
            background-clip: text;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $pf--color--white;
            &.active {
                background-image: none;
                -webkit-text-stroke: unset;
                -webkit-text-fill-color: unset;
                color: $pf--color--white;
                margin-right: -1.8rem;
                transform: none !important;
                opacity: 1 !important;
                transition: 0.7s ease-out;
            }
        }
    }
    .intro__section__iamheedo-text {
        padding-right: 1.2rem;
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        overflow: hidden;
        span {
            font-family: "Montserrat", sans-serif;
            font-size: 22rem;
            font-weight: 700;
            letter-spacing: -2rem;
            line-height: 26rem;
            color: $pf--color--white;
            &:nth-child(4) {
                margin-left: 10rem;
            }
        }
        &.active {
            display: none;
        }
    }
    .earth {
        position: absolute;
        top: -50%;
        left: -50%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: rotateearth 180s infinite;
        }
        &.active {
            display: none;
        }
    }
    .moon {
        position: absolute;
        bottom: -75%;
        right: -5%;
        width: 700px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: rotateearth 40s infinite;
            filter: grayscale(1) brightness(0.8);
        }
        &.active {
            display: none;
        }
    }
}

.section2 {
    width: 100%;
    padding: 500px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .section2__introduce__me__kor {
        text-align: center;
        strong {
            font-family: "pretendard";
            letter-spacing: 5px;
            font-size: 1.6rem;
            font-weight: 300;
            color: $pf--color--white;
        }
    }
    .section2__introduce__me__eng {
        text-align: center;
        strong {
            display: block;
            font-family: "pretendard";
            letter-spacing: 0.2rem;
            font-size: 1.6rem;
            font-weight: 300;
            color: $pf--color--white;
        }
    }
}

.halfsection {
    padding: 100px 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "pretendard";
    .halfsection__grid-container {
        width: 100%;
        padding: 0 5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 300px);
        column-gap: 2rem;
        row-gap: 1rem;
        .halfsection__grid-skills {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            filter: brightness(0.5) grayscale(0.7);
            transition: 0.5s;
            color: $pf--color--white;
            z-index: 1;
            strong {
                transition: 0.3s;
            }
            .halfsection__grid-skills-inner {
                width: 60%;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: 0.3s;
                p {
                    transition: 0.3s;
                    text-align: center;
                    line-height: 1.4rem;
                }
                .halfsection__skills-inner-imgwrap {
                    width: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            &::before,
            &::after {
                content: "";
                opacity: 0;
                width: 100%;
                height: 120px;
                transition: all 0.5s;
                position: absolute;
                left: 0;
            }
            &::before {
                top: 0;
                height: 100%;
                background-image: linear-gradient(to top, transparent 10%, rgba(12, 13, 19, 0.3) 68%, rgba(12, 13, 19, 0.75) 97%);
            }
            &::after {
                bottom: 0;
                background-image: linear-gradient(to bottom, transparent 10%, rgba(12, 13, 19, 0.3) 68%, rgba(12, 13, 19, 0.75) 97%);
            }
            &:hover strong {
                opacity: 0;
            }
            &:hover::after,
            &:hover::before {
                opacity: 1;
            }
            &:hover::after {
                height: 50%;
            }
            &:hover .halfsection__grid-skills-inner {
                opacity: 1;
            }
            &.active {
                filter: brightness(1) grayscale(0);
                transform: translateY(-5%) rotateX(25deg) !important;
                box-shadow: 0px 30px 5px red;
            }
            &.noactive {
                filter: brightness(0.2) grayscale(0.8);
            }
        }
        .html {
            grid-column: 2 / 4;
            grid-row: 1 / 3;
            background: #c02425;
            background: -webkit-linear-gradient(to right, #f0cb35, #c02425);
            background: linear-gradient(to right, #f0cb35, #c02425);
        }
        .css {
            grid-column: 1 / 3;
            grid-row: 2 / 4;
            background: #8360c3; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2ebf91, #8360c3); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .scss {
            grid-column: 3 / 5;
            grid-row: 2 / 4;
            background: #8a2387; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f27121, #e94057, #8a2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .js {
            grid-column: 2 / 4;
            grid-row: 3 / 5;
            background: #cac531; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #d3be03, #cac531); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #d3be03, #cac531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .jqeury {
            grid-column: 1 / 3;
            grid-row: 4 / 6;
            background: #373b44; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4286f4, #373b44); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4286f4, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .gsap {
            grid-column: 3 / 5;
            grid-row: 4 / 6;
            background: #52c234; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #061700, #52c234); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .react {
            grid-column: 2 / 4;
            grid-row: 5 / 7;
            background: #2980b9; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .photoshop {
            grid-column: 1 / 3;
            grid-row: 6 / 8;
            background: #0f2027; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2c5364, #203a43, #0f2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .figma {
            grid-column: 3 / 5;
            grid-row: 6 / 8;
            background: #1e130c; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #9a8478, #1e130c); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .git {
            grid-column: 2 / 4;
            grid-row: 7 / 9;
            background: #232526; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}

.section3 {
    padding: 400px 0;
    .section3__container {
        transform: translateX(-72px);
        display: flex;
        flex-direction: column;
        perspective: 410px;
        perspective-origin: left center;
        .section3__typo_line {
            width: 130%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 2rem;
            transform-style: preserve-3d;
            font-size: 12rem;
            line-height: 12rem;
            font-family: "Playfair Display", serif;
            color: $pf--color--white;
            transform: rotateY(12deg) rotateX(5deg);
            position: relative;
            z-index: 100;
            .typobox {
                width: 400px;
                height: 142px;
                margin-bottom: 48px;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .typo-horizontal-line {
                margin-top: 26px;
                width: 10px;
                height: 10px;
                transition: 0.5s;
                background-color: $pf--color--white;
            }
            #triangle {
                margin-top: 24px;
                animation: rotateTriangle 1s 2s ease-out;
                transition: 0.3s;
            }
            #shine1,
            #shine2 {
                margin-top: 25px;
                transition: 0.3s;
            }
            .typo-vertical-line {
                width: 10px;
                height: 180px;
                background-color: $pf--color--white;
            }
            #unique {
                color: $pf--color--white;
                padding-bottom: 28px;
            }
            #flower1,
            #flower2 {
                transition: 0.5s;
            }
            #publishing {
                color: $pf--color--white;
                background: rgb(249, 206, 52);
                background: linear-gradient(90deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 50%, rgba(98, 40, 215, 1) 100%);
            }
            #typobox4 {
                height: 12rem;
                width: auto;
                margin-top: 44px;
            }
            .attitude-wrap {
                background-color: $pf--color--white;
                overflow: hidden;
                #attitude {
                    color: $pf--color--darkgray;
                }
            }
        }
        .typo_line4 {
            margin-top: 1rem;
        }
        .typo_line5 {
            justify-content: flex-end;
            width: 135%;
            display: flex;
            flex-wrap: nowrap;
            gap: 2rem;
            font-size: 12rem;
            line-height: 12rem;
            font-family: "Playfair Display", serif;
            transform: rotateY(12deg) rotateX(5deg) translateY(-60px);
            overflow: hidden;
            position: relative;
            z-index: 10;
            #reverseAttitude {
                color: $pf--color--white;
            }
        }
    }
}

.section4 {
    padding: 500px 0;
    gap: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .section4__appeal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: $pf--color--white;
        .section4__appeal__title {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
            strong {
                font-family: "lora";
                font-weight: 200;
                line-height: 5rem;
                font-size: 5rem;
                transition: 0.1s;
            }
            span {
                font-family: "lora";
                font-weight: 200;
                font-size: 2rem;
            }
        }
        p {
            font-family: "pretendard";
            font-weight: 200;
            font-size: 1.2rem;
        }
    }
}

.section5 {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .section5__works {
        width: 100%;
        display: flex;
        justify-content: center;
        .section5__works_details {
            display: none;
            .section5__works_inner {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .section5__works_skills {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .section5__works__img {
            width: 100%;
            height: 800px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // transform: rotateY(-20deg) rotateX(10deg);
            }
        }
    }
}
