@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
@font-face {
  font-family: "pretendard";
  src: url(../font/PretendardJPVariable.ttf);
}
@font-face {
  font-family: "lora";
  src: url(../font/Lora-VariableFont_wght.ttf);
}
@keyframes rotateearth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotatemoon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1a1a1a;
}
.cursor p {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f5f5f5;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
body .bgr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
body .bgr video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
body .bgr.active {
  display: none;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  background-image: url(../img/overlay.gif);
}

.container {
  background-color: #111111;
}

.intro__section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.intro__section.active {
  display: none;
}
.intro__section .intro__section__hello-text {
  width: 100%;
  display: flex;
}
.intro__section .intro__section__hello-text span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 22rem;
  line-height: 30rem;
  font-weight: 700;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #333333;
  /* background */
  background-image: url(../img/wave.png);
  background-position: 100% 430px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
}
.intro__section .intro__section__hello-text span.active {
  background-image: none;
  -webkit-text-stroke: unset;
  -webkit-text-fill-color: unset;
  color: #ffffff;
  margin-right: -1.8rem;
  transform: none !important;
  opacity: 1 !important;
  transition: 0.7s ease-out;
}
.intro__section .intro__section__iamheedo-text {
  padding-right: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  overflow: hidden;
}
.intro__section .intro__section__iamheedo-text span {
  font-family: "Montserrat", sans-serif;
  font-size: 22rem;
  font-weight: 700;
  letter-spacing: -2rem;
  line-height: 26rem;
  color: #ffffff;
}
.intro__section .intro__section__iamheedo-text span:nth-child(4) {
  margin-left: 10rem;
}
.intro__section .intro__section__iamheedo-text.active {
  display: none;
}
.intro__section .earth {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1;
}
.intro__section .earth img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: rotateearth 180s infinite;
}
.intro__section .earth.active {
  display: none;
}
.intro__section .moon {
  position: absolute;
  bottom: -75%;
  right: -5%;
  width: 700px;
}
.intro__section .moon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: rotateearth 40s infinite;
  filter: grayscale(1) brightness(0.8);
}
.intro__section .moon.active {
  display: none;
}

.section2 {
  width: 100%;
  padding: 500px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section2 .section2__introduce__me__kor {
  text-align: center;
}
.section2 .section2__introduce__me__kor strong {
  font-family: "pretendard";
  letter-spacing: 5px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #ffffff;
}
.section2 .section2__introduce__me__eng {
  text-align: center;
}
.section2 .section2__introduce__me__eng strong {
  display: block;
  font-family: "pretendard";
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #ffffff;
}

.halfsection {
  padding: 100px 0 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "pretendard";
}
.halfsection .halfsection__grid-container {
  width: 100%;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 300px);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  filter: brightness(0.5) grayscale(0.7);
  transition: 0.5s;
  color: #ffffff;
  z-index: 1;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills strong {
  transition: 0.3s;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills .halfsection__grid-skills-inner {
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills .halfsection__grid-skills-inner p {
  transition: 0.3s;
  text-align: center;
  line-height: 1.4rem;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills .halfsection__grid-skills-inner .halfsection__skills-inner-imgwrap {
  width: 100px;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills .halfsection__grid-skills-inner .halfsection__skills-inner-imgwrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills::before, .halfsection .halfsection__grid-container .halfsection__grid-skills::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 120px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 10%, rgba(12, 13, 19, 0.3) 68%, rgba(12, 13, 19, 0.75) 97%);
}
.halfsection .halfsection__grid-container .halfsection__grid-skills::after {
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(12, 13, 19, 0.3) 68%, rgba(12, 13, 19, 0.75) 97%);
}
.halfsection .halfsection__grid-container .halfsection__grid-skills:hover strong {
  opacity: 0;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills:hover::after, .halfsection .halfsection__grid-container .halfsection__grid-skills:hover::before {
  opacity: 1;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills:hover::after {
  height: 50%;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills:hover .halfsection__grid-skills-inner {
  opacity: 1;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills.active {
  filter: brightness(1) grayscale(0);
  transform: translateY(-5%) rotateX(25deg) !important;
  box-shadow: 0px 30px 5px red;
}
.halfsection .halfsection__grid-container .halfsection__grid-skills.noactive {
  filter: brightness(0.2) grayscale(0.8);
}
.halfsection .halfsection__grid-container .html {
  grid-column: 2/4;
  grid-row: 1/3;
  background: #c02425;
  background: linear-gradient(to right, #f0cb35, #c02425);
}
.halfsection .halfsection__grid-container .css {
  grid-column: 1/3;
  grid-row: 2/4;
  background: #8360c3; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .scss {
  grid-column: 3/5;
  grid-row: 2/4;
  background: #8a2387; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f27121, #e94057, #8a2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .js {
  grid-column: 2/4;
  grid-row: 3/5;
  background: #cac531; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d3be03, #cac531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .jqeury {
  grid-column: 1/3;
  grid-row: 4/6;
  background: #373b44; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .gsap {
  grid-column: 3/5;
  grid-row: 4/6;
  background: #52c234; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .react {
  grid-column: 2/4;
  grid-row: 5/7;
  background: #2980b9; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .photoshop {
  grid-column: 1/3;
  grid-row: 6/8;
  background: #0f2027; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .figma {
  grid-column: 3/5;
  grid-row: 6/8;
  background: #1e130c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.halfsection .halfsection__grid-container .git {
  grid-column: 2/4;
  grid-row: 7/9;
  background: #232526; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section3 {
  padding: 400px 0;
}
.section3 .section3__container {
  transform: translateX(-72px);
  display: flex;
  flex-direction: column;
  perspective: 410px;
  perspective-origin: left center;
}
.section3 .section3__container .section3__typo_line {
  width: 130%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
  transform-style: preserve-3d;
  font-size: 12rem;
  line-height: 12rem;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  transform: rotateY(12deg) rotateX(5deg);
  position: relative;
  z-index: 100;
}
.section3 .section3__container .section3__typo_line .typobox {
  width: 400px;
  height: 142px;
  margin-bottom: 48px;
}
.section3 .section3__container .section3__typo_line .typobox video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section3 .section3__container .section3__typo_line .typo-horizontal-line {
  margin-top: 26px;
  width: 10px;
  height: 10px;
  transition: 0.5s;
  background-color: #ffffff;
}
.section3 .section3__container .section3__typo_line #triangle {
  margin-top: 24px;
  animation: rotateTriangle 1s 2s ease-out;
  transition: 0.3s;
}
.section3 .section3__container .section3__typo_line #shine1,
.section3 .section3__container .section3__typo_line #shine2 {
  margin-top: 25px;
  transition: 0.3s;
}
.section3 .section3__container .section3__typo_line .typo-vertical-line {
  width: 10px;
  height: 180px;
  background-color: #ffffff;
}
.section3 .section3__container .section3__typo_line #unique {
  color: #ffffff;
  padding-bottom: 28px;
}
.section3 .section3__container .section3__typo_line #flower1,
.section3 .section3__container .section3__typo_line #flower2 {
  transition: 0.5s;
}
.section3 .section3__container .section3__typo_line #publishing {
  color: #ffffff;
  background: rgb(249, 206, 52);
  background: linear-gradient(90deg, rgb(249, 206, 52) 0%, rgb(238, 42, 123) 50%, rgb(98, 40, 215) 100%);
}
.section3 .section3__container .section3__typo_line #typobox4 {
  height: 12rem;
  width: auto;
  margin-top: 44px;
}
.section3 .section3__container .section3__typo_line .attitude-wrap {
  background-color: #ffffff;
  overflow: hidden;
}
.section3 .section3__container .section3__typo_line .attitude-wrap #attitude {
  color: #333333;
}
.section3 .section3__container .typo_line4 {
  margin-top: 1rem;
}
.section3 .section3__container .typo_line5 {
  justify-content: flex-end;
  width: 135%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  font-size: 12rem;
  line-height: 12rem;
  font-family: "Playfair Display", serif;
  transform: rotateY(12deg) rotateX(5deg) translateY(-60px);
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.section3 .section3__container .typo_line5 #reverseAttitude {
  color: #ffffff;
}

.section4 {
  padding: 500px 0;
  gap: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .section4__appeal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
}
.section4 .section4__appeal .section4__appeal__title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.section4 .section4__appeal .section4__appeal__title strong {
  font-family: "lora";
  font-weight: 200;
  line-height: 5rem;
  font-size: 5rem;
  transition: 0.1s;
}
.section4 .section4__appeal .section4__appeal__title span {
  font-family: "lora";
  font-weight: 200;
  font-size: 2rem;
}
.section4 .section4__appeal p {
  font-family: "pretendard";
  font-weight: 200;
  font-size: 1.2rem;
}

.section5 {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .section5__works {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section5 .section5__works .section5__works_details {
  display: none;
}
.section5 .section5__works .section5__works_details .section5__works_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section5 .section5__works .section5__works_details .section5__works_inner .section5__works_skills {
  display: flex;
  flex-direction: column;
}
.section5 .section5__works .section5__works__img {
  width: 100%;
  height: 800px;
}
.section5 .section5__works .section5__works__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */