@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");
@font-face {
  font-family: "pretendard";
  src: url(../font/PretendardJPVariable.ttf);
}
@font-face {
  font-family: "lora";
  src: url(../font/Lora-VariableFont_wght.ttf);
}
@keyframes rotateearth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotatemoon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f5f5f5;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
body .bgr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
body .bgr video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
body .bgr.active {
  display: none;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  background-image: url(../img/overlay.gif);
  z-index: 0;
}

.intro__section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.intro__section.active {
  display: none;
}
.intro__section .intro__section__hello-text {
  width: 100%;
  display: flex;
}
.intro__section .intro__section__hello-text span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 22rem;
  line-height: 30rem;
  font-weight: 700;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #333333;
  /* background */
  background-image: url(../img/wave.png);
  background-position: 100% 430px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
}
.intro__section .intro__section__hello-text span.active {
  background-image: none;
  -webkit-text-stroke: unset;
  -webkit-text-fill-color: unset;
  color: #ffffff;
  margin-right: -1.8rem;
  transform: none !important;
  opacity: 1 !important;
  transition: 0.7s ease-out;
}
.intro__section .intro__section__iamheedo-text {
  padding-right: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  overflow: hidden;
}
.intro__section .intro__section__iamheedo-text span {
  font-family: "Montserrat", sans-serif;
  font-size: 22rem;
  font-weight: 700;
  letter-spacing: -2rem;
  line-height: 26rem;
  color: #ffffff;
}
.intro__section .intro__section__iamheedo-text span:nth-child(4) {
  margin-left: 10rem;
}
.intro__section .intro__section__iamheedo-text.active {
  display: none;
}
.intro__section .earth {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1;
}
.intro__section .earth img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: rotateearth 180s infinite;
}
.intro__section .earth.active {
  display: none;
}
.intro__section .moon {
  position: absolute;
  bottom: -75%;
  right: -5%;
  width: 700px;
}
.intro__section .moon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: rotateearth 40s infinite;
  filter: grayscale(1) brightness(0.8);
}
.intro__section .moon.active {
  display: none;
}

.section2 {
  width: 100%;
  padding: 500px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section2 .section2__introduce__me__kor {
  text-align: center;
}
.section2 .section2__introduce__me__kor strong {
  font-family: "pretendard";
  letter-spacing: 5px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}
.section2 .section2__introduce__me__eng {
  text-align: center;
}
.section2 .section2__introduce__me__eng strong {
  display: block;
  font-family: "pretendard";
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}

.section3 {
  padding: 400px 0;
}
.section3 .section3__container {
  transform: translateX(-72px);
  display: flex;
  flex-direction: column;
  perspective: 410px;
  perspective-origin: left center;
}
.section3 .section3__container .section3__typo_line {
  width: 130%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
  transform-style: preserve-3d;
  font-size: 12rem;
  line-height: 12rem;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  transform: rotateY(12deg) rotateX(5deg);
  position: relative;
  z-index: 100;
}
.section3 .section3__container .section3__typo_line .typobox {
  width: 400px;
  height: 142px;
  margin-bottom: 48px;
}
.section3 .section3__container .section3__typo_line .typobox video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section3 .section3__container .section3__typo_line .typo-horizontal-line {
  margin-top: 26px;
  width: 10px;
  height: 10px;
  transition: 0.5s;
  background-color: #ffffff;
}
.section3 .section3__container .section3__typo_line #triangle {
  margin-top: 24px;
  animation: rotateTriangle 1s 2s ease-out;
  transition: 0.3s;
}
.section3 .section3__container .section3__typo_line #shine1,
.section3 .section3__container .section3__typo_line #shine2 {
  margin-top: 25px;
  transition: 0.3s;
}
.section3 .section3__container .section3__typo_line .typo-vertical-line {
  width: 10px;
  height: 180px;
  background-color: #fff;
}
.section3 .section3__container .section3__typo_line #unique {
  color: #fff;
  padding-bottom: 28px;
}
.section3 .section3__container .section3__typo_line #flower1,
.section3 .section3__container .section3__typo_line #flower2 {
  transition: 0.5s;
}
.section3 .section3__container .section3__typo_line #publishing {
  color: #fff;
  background: rgb(249, 206, 52);
  background: linear-gradient(90deg, rgb(249, 206, 52) 0%, rgb(238, 42, 123) 50%, rgb(98, 40, 215) 100%);
}
.section3 .section3__container .section3__typo_line #typobox4 {
  height: 12rem;
  width: auto;
  margin-top: 44px;
}
.section3 .section3__container .section3__typo_line .attitude-wrap {
  background-color: #fff;
  overflow: hidden;
}
.section3 .section3__container .section3__typo_line .attitude-wrap #attitude {
  color: #333333;
}
.section3 .section3__container .typo_line4 {
  margin-top: 1rem;
}
.section3 .section3__container .typo_line5 {
  justify-content: flex-end;
  width: 135%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  font-size: 12rem;
  line-height: 12rem;
  font-family: "Playfair Display", serif;
  transform: rotateY(12deg) rotateX(5deg) translateY(-60px);
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.section3 .section3__container .typo_line5 #reverseAttitude {
  color: #fff;
}

.section4 {
  padding: 700px 0 300px 0;
  display: flex;
  gap: 40rem;
  flex-direction: column;
  align-items: center;
}
.section4 .section4__appeal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}
.section4 .section4__appeal .section4__appeal__title {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.section4 .section4__appeal .section4__appeal__title strong {
  font-family: "lora";
  font-weight: 200;
  line-height: 5rem;
  font-size: 5rem;
  transition: 0.1s;
}
.section4 .section4__appeal .section4__appeal__title span {
  font-family: "lora";
  font-weight: 200;
  font-size: 2rem;
}
.section4 .section4__appeal p {
  font-family: "pretendard";
  font-weight: 200;
  font-size: 1.2rem;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1a1a1a;
}
.cursor p {
  color: #fff;
}/*# sourceMappingURL=style.css.map */