@import "./font";
@import "./keyframe";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     cursor: none;
// }
::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #f5f5f5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: none;
    .bgr {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.5);
        }
        &.active {
            display: none;
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.1;
        background-image: url(../img/overlay.gif);
        z-index: 0;
    }
}

.intro__section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &.active {
        display: none;
    }
    .intro__section__hello-text {
        width: 100%;
        display: flex;
        // overflow: hidden;
        span {
            display: block;
            font-family: "Montserrat", sans-serif;
            font-size: 22rem;
            line-height: 30rem;
            font-weight: 700;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: #333333;
            /* background */
            background-image: url(../img/wave.png);
            background-position: 100% 430px;
            background-repeat: no-repeat;
            background-clip: text;
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #ffffff;
            &.active {
                background-image: none;
                -webkit-text-stroke: unset;
                -webkit-text-fill-color: unset;
                color: #ffffff;
                margin-right: -1.8rem;
                transform: none !important;
                opacity: 1 !important;
                transition: 0.7s ease-out;
            }
        }
    }
    .intro__section__iamheedo-text {
        padding-right: 1.2rem;
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        overflow: hidden;
        span {
            font-family: "Montserrat", sans-serif;
            font-size: 22rem;
            font-weight: 700;
            letter-spacing: -2rem;
            line-height: 26rem;
            color: #ffffff;
            &:nth-child(4) {
                margin-left: 10rem;
            }
        }
        &.active {
            display: none;
        }
    }
    .earth {
        position: absolute;
        top: -50%;
        left: -50%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: rotateearth 180s infinite;
        }
        &.active {
            display: none;
        }
    }
    .moon {
        position: absolute;
        bottom: -75%;
        right: -5%;
        width: 700px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: rotateearth 40s infinite;
            filter: grayscale(1) brightness(0.8);
        }
        &.active {
            display: none;
        }
    }
}

.section2 {
    width: 100%;
    padding: 500px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .section2__introduce__me__kor {
        text-align: center;
        strong {
            font-family: "pretendard";
            letter-spacing: 5px;
            font-size: 1.6rem;
            font-weight: 300;
            color: #fff;
        }
    }
    .section2__introduce__me__eng {
        text-align: center;
        strong {
            display: block;
            font-family: "pretendard";
            letter-spacing: 0.2rem;
            font-size: 1.6rem;
            font-weight: 300;
            color: #fff;
        }
    }
}

.section3 {
    padding: 400px 0;
    .section3__container {
        transform: translateX(-72px);
        display: flex;
        flex-direction: column;
        perspective: 410px;
        perspective-origin: left center;
        .section3__typo_line {
            width: 130%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 2rem;
            transform-style: preserve-3d;
            font-size: 12rem;
            line-height: 12rem;
            font-family: "Playfair Display", serif;
            color: #ffffff;
            transform: rotateY(12deg) rotateX(5deg);
            position: relative;
            z-index: 100;
            .typobox {
                width: 400px;
                height: 142px;
                margin-bottom: 48px;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .typo-horizontal-line {
                margin-top: 26px;
                width: 10px;
                height: 10px;
                transition: 0.5s;
                background-color: #ffffff;
            }
            #triangle {
                margin-top: 24px;
                animation: rotateTriangle 1s 2s ease-out;
                transition: 0.3s;
            }
            #shine1,
            #shine2 {
                margin-top: 25px;
                transition: 0.3s;
            }
            .typo-vertical-line {
                width: 10px;
                height: 180px;
                background-color: #fff;
            }
            #unique {
                color: #fff;
                padding-bottom: 28px;
            }
            #flower1,
            #flower2 {
                transition: 0.5s;
            }
            #publishing {
                color: #fff;
                background: rgb(249, 206, 52);
                background: linear-gradient(90deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 50%, rgba(98, 40, 215, 1) 100%);
            }
            #typobox4 {
                height: 12rem;
                width: auto;
                margin-top: 44px;
            }
            .attitude-wrap {
                background-color: #fff;
                overflow: hidden;
                #attitude {
                    color: #333333;
                }
            }
        }
        .typo_line4 {
            margin-top: 1rem;
        }
        .typo_line5 {
            justify-content: flex-end;
            width: 135%;
            display: flex;
            flex-wrap: nowrap;
            gap: 2rem;
            font-size: 12rem;
            line-height: 12rem;
            font-family: "Playfair Display", serif;
            transform: rotateY(12deg) rotateX(5deg) translateY(-60px);
            overflow: hidden;
            position: relative;
            z-index: 10;
            #reverseAttitude {
                color: #fff;
            }
        }
    }
}

.section4 {
    padding: 700px 0 300px 0;
    display: flex;
    gap: 40rem;
    flex-direction: column;
    align-items: center;
    .section4__appeal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: #fff;
        .section4__appeal__title {
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            strong {
                font-family: "lora";
                font-weight: 200;
                line-height: 5rem;
                font-size: 5rem;
                transition: 0.1s;
            }
            span {
                font-family: "lora";
                font-weight: 200;
                font-size: 2rem;
            }
        }
        p {
            font-family: "pretendard";
            font-weight: 200;
            font-size: 1.2rem;
        }
    }
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1a1a1a;
    // mix-blend-mode:difference;
    p {
        color: #fff;
    }
}
